<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @litter, partial: "card", as: :litter %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "litters/litter_dog_profiles" %>
  </div>
</div>
