<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Litters

    <a data-toggle="collapse" href="#sire_profile_litters_new_form">
      Add litter
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @sire_profile.litters.each do |litter| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to litter, litter %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to litter, method: :delete, data: { confirm: "Do you really want to delete this litter" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="sire_profile_litters_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
