<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @sire_profile, partial: "card", as: :sire_profile %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "sire_profiles/sire_profile_litters" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "sire_profiles/sire_profile_dog_profiles" %>
  </div>
</div>
  <!-- Show Page Customization end -->
