<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @bitch_profile, partial: "card", as: :bitch_profile %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "bitch_profiles/bitch_profile_litters" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "bitch_profiles/bitch_profile_dog_profiles" %>
  </div>
</div>
  <!-- Show Page Customization end -->
