<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Bitch
  </div>

  <ul class="list-group list-group-flush">
    <% @puppy_profile.bitch.each do |bitch_profile| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/bitch_profiles/<%= bitch_profile.id %>">
          <%= bitch_profile %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
