<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @puppy_profile, partial: "card", as: :puppy_profile %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "puppy_profiles/puppy_profile_buyer_favorites" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "puppy_profiles/puppy_profile_bitch" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "puppy_profiles/puppy_profile_sire" %>
  </div>
</div>
